/* Global Styles */

html * {
    font-family: 'Kumbh Sans';
}

body {
    background-color: rgb(29, 32, 33);
    overflow-y: scroll;
    overflow-x: hidden;
}


.text {
    color: rgba(240, 240, 240, 0.6);
    /*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));*/

}

.Bg {
    display: grid;
    grid-template-columns: 10% 85%;
    height: 100%;
}

/*header styles*/

.header-text {
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
}

.header {
    animation: slideTop 2s;
    height: 100%;
}

.header-wrapper {
    top: 0;
    position: sticky;
    z-index: 1;
    /*margin-right: min(1vw, 35px);*/
    width: 100%;
    float: right;
}

.header-grid {
    display: grid;
    grid-template-columns: 40% 50%;
}

.custom-header {
    font-weight: 900;
    writing-mode: sideways-lr;
    word-break: break-all;
    font-size: 4.5vw;
}

.sub-header {
    font-weight: 900;
    writing-mode: sideways-lr;
    font-size: 3.5vw;

}

/*TopBar styles*/

.top-bar-wrapper {
    height: 60px;
    /*background-color: rgba(221, 221, 221, 0.1);*/
    z-index: 1;
}

.return-button-wrapper {
    padding-left: 10px;
    padding-top: 21px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    height: 100%;
}


.button-grid-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}

.button-grid-item {
    display: flex;
    align-items: center;
}

.button-image {
    height: 15px;
    margin-right: 5px;
}

/*Navigation Page styles*/

.nav-wrapper {
    height: 100vh;
    width: 100%;
}

.nav-wrapper::-webkit-scrollbar {
    width: 0px;
}

.disk-wrapper {
    margin-left: 15vw;
    width: 70vw;
    height: fit-content;
    cursor: grab;
}

.scroll-svg {
    display: block;
    position: absolute;
    top: -24vw;
    margin: auto;
    animation: slideTop 3s ease-out;
}

.player-bar {
    position: absolute;
    z-index: 2;
    margin-top: -2.5%;
}

.contact-disk {
    rotate: 90deg;
}

.about-disk {
    rotate: -90deg;
}

.joke-disk {
    rotate: 180deg;
}

.cd {
    transform: translateY(70%);
    transform-origin: 50% 50%;
    scale: 40%;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.under-construction-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1%;
    color: rgba(240, 240, 240, 0.6);
}

/*Filter styles*/

.filter-wrapper {
    position: relative;
    padding-top: 2%;
    padding-left: 10px;
    width: 40%;
    animation: slideRight 1s;
}

.filter-button-wrapper {
    margin-bottom: 10px;
    margin-right: 10px;
    size: 1vw;
}

.filter-button {
    font-weight: 600;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: rgba(0, 0, 0, 1) solid;
    size: 1vw;
}

.project-page-filter-button {
    background-color: #1f1f1f;
    color: rgba(240, 240, 240, 0.6);
    border: 1px solid;
}

.project-page-clickable {
    box-shadow: 3px 3px 0px rgba(240, 240, 240, 0.6);
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-page-clickable:hover {
    box-shadow: 2px 2px 0px rgba(240, 240, 240, 0.6);
    transform: translate(1px, 1px);
}

.project-page-clickable:active {
    box-shadow: 0px 0px 0px rgba(240, 240, 240, 0.6);
    transform: translate(3px, 3px);
}

.polaroam-button {
    box-shadow: 3px 3px 0px #1f1f1f;
}

/*ContentItem styles */

.content-grid {
    margin-top: 3vh;
    display: grid;
    row-gap: 1%;
    grid-template-columns: auto;
}

.content-grid-item-left {
    padding-right: 2%;
}

.content-wrapper-right {
    justify-self: end;
}

.content-wrapper-left {
    margin-left: 10px;
}

.content-wrapper {
    padding-bottom: 5px;
    position: relative;
    animation: scaleIn 1s;
}

.project-content-grid-left {
    display: grid;
    grid-template-columns: 60% 40%;
}

.project-content-grid-right {
    display: grid;
    grid-template-columns: 40% 60%;
}

.project-page-item {
    width: 70%;
}

.content-image-wrapper {
    aspect-ratio: 16 / 9;
    border-collapse: separate;
    border-radius: 10%;
}

.content-image {
    display: block;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.main-image {
    width: 100%;
    height: 100%;
}

.flavour-image {
    width: 96.5%;
    height: 96.5%;
}

.tag-wrapper {
    width: 30%;
    padding-top: 10px;
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}

.project-name {
    margin-top: 5px;
}

.description-text-left {
    font-size: 1.15vw;
    width: 80%;
}

.description-text-right {
    font-size: 1.15vw;
    width: 80%;
    float: right;
    text-align: right;
    margin-right: 5.5%;
}

.year-text {
    font-weight: 700;
    font-size: 1.5vw;
}

.flavour-item {
    width: 10%;
    position: absolute;
    top: 0;
    right: 1;
}

.text-item {
    font-size: larger;
    text-align: justify;
}

.single-project-content-grid {
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 4%;
}

.text-wrapper {
    animation: slideBottom 1s;
}

.image-wrapper {
    animation: slideBottom 1s;
}

/*About and Contact styles*/
.other-text-wrapper {
    padding-left: 100px;
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    animation: scaleIn 1s;
}

/*Clickable animations*/
.clickable:hover {
    cursor: pointer;
}


@keyframes slideTop {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(1000px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}