/* Global Styles */

html * {
    font-family: 'Kumbh Sans';
}

body {
    background-color: rgb(196, 61, 61);
}


.text {
    color: rgba(240, 240, 240, 0.5);
    /*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));*/
}

/*header text styles*/

.header-text {
    font-weight: 700;
}

.custom-header {
    text-align: right;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 100px;
    font-weight: 900;
}

/*TopBar styles*/

.top-bar {
    height: 80px;
    background-color: rgba(221, 221, 221, 0.1);
    filter: blur(10px);
}
.top-bar-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

.return-button-wrapper {
    padding-left: 10px;
    margin: auto;
    top: 21px;
    position: absolute;
}

/*Filter styles*/

.filter-wrapper {
    position: absolute;
    top: 17.5%;
    padding-left: 40px;
    width: 25%;
}

.filter-button {
    margin-bottom: 10px;
    margin-right: 10px;
}

/*ContentItem styles */

.content-grid {
    padding-top: 100px;
}

.content-wrapper-right {
    padding-right: 40px;
}

.content-wrapper-left {
    padding-left: 40px;
}

.main-content {
    width: 50%;
    margin-bottom: 5%;
}

.main-content-right {
    float: right;
}

.content-image {
    width: 100%;
    border-radius: 10px;
}

.tag-wrapper {
    width: 16%;
    padding-top: 10px;
    position: absolute;
    margin-left: 35%;
}

