/* Global Styles */

html * {
    font-family: 'Kumbh Sans';
}

body {
    background-color: rgb(29,32,33);
}


.text {
    color: rgba(240, 240, 240, 0.6);
    /*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));*/
}

.Bg {
    display: grid;
    grid-template-columns: 85% 15%;
}

/*header styles*/

.header-text {
    font-weight: 700;   
}

.header {
    animation: slideTop 2s;
    height: 100%;
}

.header-wrapper {
    top: 0;
    position: sticky;
    z-index: 1;
    float: right;
    margin-right: min(1vw, 35px);
    width: fit-content;
}

.custom-header {
    white-space: nowrap;
    width: 0;
    float: right;
    font-size: 7vw;
    font-weight: 900;
    transform-origin: top left;
    transform: rotate(90deg);
    margin-top: 12px;    
}

.sub-header {
    white-space: nowrap;
    width: 0;
    float: right;
    font-size: 4vw;
    font-weight: 900;
    transform-origin: top left;
    transform: rotate(90deg);
    margin-top: 21px;
    margin-right: 7vw;
}

.external-buttons {
    width: 80%;
    padding-right: 13%;
    float:right;
    margin-top: 31vw;
    display: grid;
}

.single-button {
    width: fit-content;
    height: 5%;
}

.button-grid-wrapper {
    display: grid;
    height: 5%;
    grid-template-columns: 30% 70%;
    column-gap: 5%;
    place-items: center;
}

.button-image {
    width: 100%;
}

.button-text {
    font-size: 1vw;
}

/*TopBar styles*/

.top-bar {
    height: 60px;
    /*background-color: rgba(221, 221, 221, 0.1);*/
    filter: blur(10px);
}

.top-bar-wrapper {
    position: sticky;
    top: 0;
}

.return-button-wrapper {
    padding-left: 100px;
    padding-top: 21px;
}

/*Filter styles*/

.filter-wrapper {
    position: relative;
    padding-top: 2%;
    padding-left: 100px;
    width: 40%;
    height: 5%;
    animation: slideRight 1s;
}

.filter-button {
    margin-bottom: 10px;
    margin-right: 10px;
    size: 1vw;
}

/*ContentItem styles */

.content-grid {
    display: grid;
    grid-template-columns: auto;
}

.content-wrapper-right {
    margin-right: 50px;
    justify-self: end;
    position: relative;
    animation: scaleIn 1s ;
}

.content-wrapper-left {
    animation: scaleIn 1s;
    margin-left: 100px;
    position: relative;
}

.content-wrapper {
    width: 60%;
    height: 100%;
}

.project-page-item {
    width: 80%;
}

.flavour-wrapper {
    margin-top: 5%;
}
.content-image-wrapper {
    aspect-ratio: 16 / 9;
    border-radius: 20%;
    border-collapse: separate;
}

.content-image {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.tag-wrapper {
    width: 30%;
    padding-top: 10px;
    position: absolute;
    right: 0;
    pointer-events: none;
}

.btn-secondary {
    margin: 5px;
}

.project-name {
    margin-top: 5px;
}

.flavour-item {
    width: 10%;
    position:absolute;
    top: 0;
    right: 1;
}

/*Clickable animations*/

@keyframes hoverClickable {
    0% {filter: drop-shadow(0px,0px);}
    100% {filter: drop-shadow(10px 10px);}
    
}

@keyframes unhoverClickable{
    0% {filter: drop-shadow(10px 10px);}
    100% {filter: drop-shadow(0px,0px);}
}

.clickable:hover {
    cursor: pointer; 
    animation: hoverClickable 0.2s forwards;
}

.clickable:not(:hover) {
    animation: unhoverClickable 0.2s forwards;
}

@keyframes slideTop {
    0% {transform: translateY(-1000px);}
    100% {transform: translateY(0px);}
}

@keyframes slideRight {
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(0px);}
}

@keyframes scaleIn {
    0% {transform: scale(0%);}
    100% {transform: scale(100%);}
}