/* Global Styles */

html * {
    font-family: 'Kumbh Sans';
}

body {
    background-color: rgb(29,32,33);
}


.text {
    color: rgba(240, 240, 240, 0.6);
    /*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));*/
}

.Bg {
    display: grid;
    grid-template-columns: 85% 15%;
}

/*header text styles*/

.header-text {
    font-weight: 700;   
}

.header {
    animation: slideTop 2s;
    height: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
}

.custom-header {
    white-space: nowrap;
    width: 0;
    float: right;
    padding-top: 10px;
    font-size: 7vw;
    font-weight: 900;
    transform-origin: top left;
    transform: rotate(90deg) translateY(10%) translateX(80px);
    
}

.sub-header {
    white-space: nowrap;
    width: 0;
    float: right;
    padding-top: 10px;
    font-size: 3vw;
    font-weight: 900;
    transform-origin: top left;
    transform: rotate(90deg) translateY(200%) translateX(85px);
}


/*TopBar styles*/

.top-bar {
    height: 60px;
    background-color: rgba(221, 221, 221, 0.1);
    filter: blur(10px);
}

.top-bar-wrapper {
    position: sticky;
    top: 0;
}

.return-button-wrapper {
    padding-right: 75px;
    margin: auto;
    top: 21px;
    position: absolute;
    right: 0;
}

/*Filter styles*/

.filter-wrapper {
    position: relative;
    padding-top: 2%;
    padding-left: 100px;
    width: 40%;
    height: 5%;
    animation: slideRight 2s;
}

.filter-button {
    margin-bottom: 10px;
    margin-right: 10px;
    size: 1vw;
}

/*ContentItem styles */

.content-grid {
    display: grid;
    grid-template-columns: auto;

}

.content-wrapper-right {
    margin-right: 50px;
    justify-self: end;
    position: relative;
}

.content-wrapper-left {
    margin-left: 100px;
    position: relative;
}

.content-wrapper {
    width: 60%;
    height: 100%;
}

.flavour-wrapper {
    margin-top: 10%;
}

.content-image {
    width: 100%;
    border-radius: 10px;
}

.tag-wrapper {
    width: 30%;
    padding-top: 10px;
    position: absolute;
    right: 0;
    pointer-events: none;
}

.btn-secondary {
    margin: 5px;
}

.project-name {
    margin-top: 5px;
}

.flavour-item {
    width: 10%;
    position:absolute;
    top: 0;
    right: 1;
}


/*Clickable animations*/

@keyframes hoverClickable {
    0% {filter: drop-shadow(0px,0px);}
    100% {filter: drop-shadow(10px 10px);}
    
}

@keyframes unhoverClickable{
    0% {filter: drop-shadow(10px 10px);}
    100% {filter: drop-shadow(0px,0px);}
}

.clickable:hover {
    cursor: pointer; 
    animation: hoverClickable 0.2s forwards;
}

.clickable:not(:hover) {
    animation: unhoverClickable 0.2s forwards;
}

@keyframes slideTop {
    0% {transform: translateY(-1000px);}
    100% {transform: translateY(0px);}
}

@keyframes slideRight {
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(0px);}
}

