.CustomHeader {
    text-align: right;

    padding-right: 40px;
}

.TopBar {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.151);
}

.ReturnButtonWrapper {
    padding-left: 10px;
    margin: auto;
    top: 25%;
    position: relative;
}