/* Global Styles */

html * {
    font-family: 'Kumbh Sans';
}

body {
    background-color: rgb(29,32,33);
    overflow-y: scroll;
    overflow-x:hidden;
}


.text {
    color: rgba(240, 240, 240, 0.6);
    /*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));*/
}

.Bg {
    display: grid;
    grid-template-columns: 85% 15%;
    height: 100%;
}

/*header styles*/

.header-text {
    font-weight: 700;   
}

.header {
    animation: slideTop 2s;
    height: 100%;
}

.header-wrapper {
    top: 0;
    position: sticky;
    z-index: 1;
    float: right;
    /*margin-right: min(1vw, 35px);*/
    width: 100%;
}

.header-grid {
    display: grid;
    grid-template-columns: 40% 60%;
}

.custom-header {
    word-break: break-all;
    font-size: 4.5vw;
    font-weight: 900;
    writing-mode:sideways-rl;
    height: 100%;
    margin-top: 12px;  
    width: 50%;
    float: left;
}

.sub-header {
    font-size: 3.5vw;
    font-weight: 900;
    writing-mode: sideways-rl;
    margin-top: 12px;  
    width: 50%;
}

/*TopBar styles*/

.top-bar {
    height: 60px;
    /*background-color: rgba(221, 221, 221, 0.1);*/
    filter: blur(10px);
    z-index: 1;
}

.return-button-wrapper {
    padding-left: 100px;
    padding-top: 21px;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}

.btn-secondary {
    width: 8vw;
}

.internal-buttons {
    height:50%;
    width: fit-content;
}

.button-grid-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    place-items: center;

}

.button-image {
    width: 70%;
}

.button-text {
    width: 100%;
    font-size: 1vw;
}

/*Navigation Page styles*/

.nav-wrapper {
    height: 100vh;
    width: 100%;
}

.nav-wrapper::-webkit-scrollbar {
    width: 0px; 
}

.disk-wrapper {
    margin-left: 15vw;
    width: 70vw;
    height: fit-content;
    cursor: grab;
}

.scroll-svg {
    display: block;
    position: absolute;
    top: -24vw;
    margin: auto;
    animation: slideTop 3s ease-out;
}

.player-bar{
    position: absolute;
    z-index: 2;
    margin-top: -2.5%;
}

.contact-disk {
    rotate: 90deg;
}

.about-disk {
    rotate: -90deg;  
}

.joke-disk {
    rotate: 180deg;
}

.cd {
    transform: translateY(70%);
    transform-origin: 50% 50%;
    scale:40%;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}
/*Filter styles*/

.filter-wrapper {
    position: relative;
    padding-top: 2%;
    padding-left: 100px;
    width: 40%;
    animation: slideRight 1s;
}

.filter-button-wrapper {
    margin-bottom: 10px;
    margin-right: 10px;
    size: 1vw;
}

.btn-success {
    margin: 5px;
}

/*ContentItem styles */

.content-grid {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: auto;
}

.content-grid-item-left {
    padding-right: 2%;
}

.content-wrapper-right {
    justify-self: end;
}

.content-wrapper-left {
    margin-left: 10%;
}

.content-wrapper {
    height: 100%;
    padding-bottom: 5%;
    position: relative;
    animation: scaleIn 1s ;
}

.project-content-grid-left {
    display: grid;
    grid-template-columns: 60% 40%;
}
.project-content-grid-right {
    display: grid;
    grid-template-columns: 40% 60%;
}

.project-page-item {
    width: 80%;
}

.content-image-wrapper {
    aspect-ratio: 16 / 9;
    border-collapse: separate;
    border-radius: 10%;
}

.content-image {
    display: block;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.main-image {
    width: 100%;
    height: 100%;
}

.flavour-image {
    width: 100%;
    height: 100%;
}

.tag-wrapper {
    width: 30%;
    padding-top: 10px;
    position: absolute;
    right: 0;
    pointer-events: none;
}

.project-name {
    margin-top: 5px;
}

.description-text {
    font-size: 1.15vw;
}

.year-text {
    font-weight: 700;
    font-size: 1.5vw;
}

.flavour-item {
    width: 10%;
    position:absolute;
    top: 0;
    right: 1;
}

/*Clickable animations*/
.clickable:hover {
    cursor: pointer; 
}


@keyframes slideTop {
    0% {transform: translateY(-1000px);}
    100% {transform: translateY(0px);}
}

@keyframes slideRight {
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(0px);}
}

@keyframes scaleIn {
    0% {transform: scale(0%);}
    100% {transform: scale(100%);}
}